---
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Subtitle from '../components/Subtitle.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="mouro.dev - Desenvolvedor front-end">
	<div class="grid h-screen grid-rows-[auto_1fr_auto] gap-4">
		<header class="mb-8 mt-4" role="banner" aria-label="Cabeçalho da página">
			<div class="container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
				<About />
			</div>
		</header>

		<main role="main">
			<div class="container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
				<section class="mt-12" aria-labelledby="projetos-title">
					<div class="space-y-8">
						<Subtitle title="Confira meu Projetos" />
						<div class="grid grid-cols-1 gap-4">
							<Project
								title="Site de Salgados"
								body="Site de vendas de salgados"
								href="#"
								isInDevelopment={true}
							/>
							<Project title="Site de Vendas de Livros" body="Site de vendas de livros" href="#" />
							<Project
								title="Site de Vendas de Produtos"
								body="Site de vendas de produtos"
								href="#"
							/>
							<Project
								title="Site de Vendas de Celulares"
								body="Site de vendas de celulares"
								href="#"
							/>
							<Project
								title="Site de Vendas de Eletrodomésticos"
								body="Site de vendas de eletrodomésticos"
								href="#"
							/>
							<Project title="Site de Vendas de Roupas" body="Site de vendas de roupas" href="#" />
						</div>
					</div>
				</section>

				<section class="mt-12" aria-labelledby="trabalho-title">
					<div class="space-y-4">
						<Subtitle title="No que Estou Trabalhando e Aprendendo" />
						<p>
							Atualmente, estou trabalhando com <a
								href="https://astro.build/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">Astro build</a
							> e <a
								href="https://tailwindcss.com/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">Tailwind CSS</a
							>, e utilizo <a
								href="https://sass-lang.com/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">SCSS</a
							> em alguns projetos. No estudo, venho aprofundando meus conhecimentos em <a
								href="https://reactjs.org/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">React</a
							> e <a
								href="https://nextjs.org/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">Next.js</a
							>, além de me atualizar constantemente sobre <a
								href="https://a11yproject.com/"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">acessibilidade</a
							>, <a
								href="https://developer.mozilla.org/pt-BR/docs/Learn/Accessibility/HTML"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">SEO</a
							> e as últimas inovações no <a
								href="https://developer.mozilla.org/pt-BR/docs/Web/CSS"
								target="_blank"
								rel="noopener noreferrer"
								class="text-amber-500">CSS</a
							>, que é uma das minhas paixões.
						</p>
					</div>
				</section>
			</div>
		</main>

		<footer role="contentinfo">
			<div class="container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
				<Footer />
			</div>
		</footer>
	</div>
</Layout>
