---
import About from '../components/About.astro'
import Card from '../components/Card.astro'
import Project from '../components/Project.astro'
import Subtitle from '../components/Subtitle.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="mouro.dev - Desenvolvedor front-end">
	<div class="grid h-screen grid-rows-[auto_1fr_auto] gap-4">
		<header class="mb-8 mt-4">
			<div class="container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
				<About />
			</div>
		</header>

		<main>
			<div class="container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
				<section>
					<div class="space-y-8">
						<Subtitle title="Serviços Oferecidos" />
						<div class="space-y-4">
							<Card text="Desenvolvimento de sites rapidos e modernos." />
							<Card text="Implementação de Interfaces Dinâmicas e Responsivas" />
							<Card text="Otimização de Performance e SEO Básico" />
						</div>
					</div>
				</section>

				<section class="mt-12">
					<div class="space-y-8">
						<Subtitle title="Projetos Realizados" />
						<div class="grid grid-cols-1 gap-4">
							<Project title="Site de Salgados" body="Site de vendas de salgados" href="#" />
							<Project title="Site de Vendas de Livros" body="Site de vendas de livros" href="#" />
							<Project
								title="Site de Vendas de Produtos"
								body="Site de vendas de produtos"
								href="#"
							/>
							<Project
								title="Site de Vendas de Celulares"
								body="Site de vendas de celulares"
								href="#"
							/>
							<Project
								title="Site de Vendas de Eletrodomésticos"
								body="Site de vendas de eletrodomésticos"
								href="#"
							/>
							<Project title="Site de Vendas de Roupas" body="Site de vendas de roupas" href="#" />
						</div>
					</div>
				</section>
			</div>
		</main>

		<footer>
			<h3>Footer</h3>
		</footer>
	</div>
</Layout>
