---
import Layout from '../layouts/Layout.astro'
---

<Layout title="mouro.dev | Desenvolvedor front-end">
	<div class="container mx-auto max-w-4xl">
		<main>
			<h1>mouro.dev</h1>
			<p class="rounded-xl border border-red-500 p-4">Desenvolvedor front-end</p>
		</main>
	</div>
</Layout>
