---
import { Icon } from 'astro-icon/components'
interface Props {
	text: string
}

const { text } = Astro.props
---

<div class="rounded-md bg-zinc-800 p-4 text-zinc-200 hover:bg-zinc-700">
	{text}
</div>
