---
import Subtitle from './Subtitle.astro'
---

<div class="mb-8 mt-12 space-y-4">
	<Subtitle title="Entre em contato" />
	<div class="space-y-2">
		<p>
			Envie-me um e-mail para
			<a href="mailto:mourodev@gmail.com" class="text-amber-500 hover:underline">
				mourodev@gmail.com
			</a>
			ou ou me mande uma mensagem direta usando meus links sociais.
		</p>
		<ul role="list" class="flex flex-wrap gap-4 text-sm">
			<li>
				<a href="/about" class="transition-colors duration-200 hover:text-amber-500">Sobre mim</a>
			</li>
			<li>
				<a
					href="https://github.com/mourodev"
					target="_blank"
					class="transition-colors duration-200 hover:text-amber-500"
					aria-label="GitHub">GitHub</a
				>
			</li>
			<li>
				<a
					href="https://wa.me/5521992802319"
					class="transition-colors duration-200 hover:text-amber-500"
					target="_blank"
					aria-label="WhatsApp">WhatsApp</a
				>
			</li>
			<li>
				<a
					href="https://bsky.app/profile/moouro.bsky.social"
					target="_blank"
					class="transition-colors duration-200 hover:text-amber-500"
					aria-label="Bluesky">Bluesky</a
				>
			</li>
			<li>
				<a
					href="https://www.linkedin.com/in/moouro/"
					target="_blank"
					class="transition-colors duration-200 hover:text-amber-500"
					aria-label="LinkedIn">LinkedIn</a
				>
			</li>
		</ul>
		<p>
			Este site foi criado com
			<a href="https://astro.build/" target="_blank" class="text-amber-500 hover:underline">Astro</a
			>
			e
			<a href="https://tailwindcss.com/" target="_blank" class="text-amber-500 hover:underline"
				>TailwindCSS</a
			>. O código-fonte está disponível no
			<a href="https://github.com/mourodev" target="_blank" class="text-amber-500 hover:underline"
				>Github</a
			>.
		</p>
	</div>
</div>
